
label{
	font-size: 12px;
	letter-spacing: .5px;
	color: $light-grey-ten;
}
select{
	border-radius: 3px;
}
.form-control{
	border-color:$light-grey-three;
	box-shadow: none;
	border-radius: 3px;
	background: white;
	font-size: 12px;
	&:focus{
		box-shadow: none;
		border:1px solid $lightblue;
	}
	&.search-icon{
		padding-left: 33px;
		background:white url(../images/search.png) no-repeat 13px center ;
		background-size:10px 10px;
	}
	&.input-lg{
		font-size:13px;
		height: 40px;
	}
}

//adjusting labels for input lg horz form labels

.input-lg-horz{
	label{
		line-height: 27px;
	}
}



label{
	text-transform: uppercase;
	font-weight: 400;
	&.label-sm{
		font-size: 10px;
	}
}

	.input-group-addon{
		background: white;
		color: $steel-grey;
		border-color:$light-grey-three;
		padding-bottom: 2px;
		border-radius: 0;
	}	


//disabled

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
	background: $background-color;
}


//checkboxes

//selects



.heroic-select {

   height: 34px;
   overflow: hidden;
   background: url(/images/select_arrow.png) no-repeat right white;
   border: 1px solid $light-grey-three;
   border-radius: 3px;
   &.input-lg{
   	height: 40px;
   	line-height: 46px;
   	select{
   		position: relative;
   		top:-11px;
   	}
   }
   }


.heroic-select select {
   background: transparent;
   padding: 5px;
   font-size: 13px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
	   &:focus{
	   	outline:none;
	   	border:none;
	   }
   }

//date ticker

.date-ticker{
	.btn-chevron{
		padding: 4px 10px 0px 10px;
	}
}

//search labels

.modifier{
	  display: inline;
    padding: .2em .6em .3em;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 2px;
    z-index: 999;
    color: $charcoal-grey;
    border:1px solid #38B0E4;
    &.modifier-one{
    	background: tint(#38B0E4,90%);
    	border-color:#38B0E4;
    }
    &.modifier-two{
    	background: tint(#FF8563,90%);
    	border-color:#FF8563;
    }
}
