/// player management charts container
.player-charts-container-outter{
	width: 100%;
	display: table;
	.player-charts-container{
		display: table-row;
		width: 100%;
		.col-full-4{
			display: table-cell;
		}
	}
}

@include breakpoint(lg) {
	
	.player-charts-container{
	display: inline-block;
	background-color: tint($light-grey-three,40%);
	.col-full-4{
		background-color: $background-color;
		margin-bottom: 10px;
		display: inline-block;
		float: left;
		border-right:none;
		border-bottom:1px solid $light-grey-three;
		border-top:1px solid $light-grey-three;
		&:first-child{
			border-top:none;
		}

	}
}


}


.col-full-padding{
	padding: 15px;
}

.col-full-6{
	width: 50%;
}

.col-full-5{
	width: 41.66%;
}

.col-full-4{
	width: 33.33%;
}

.col-full-7{
	width: 58.33%;
}

.col-full-8{
	width: 66.66%;
}


@include breakpoint(lg) {
  .col-full-2,.col-full-3,.col-full-4,.col-full-5,.col-full-6,.col-full-7,.col-full-8{
  	width: 100%!important;
  }
}

.full-height{
	height: 100vh;
}

.full-height-panel-delth-one{
	background: white;
	box-shadow: inset -1px 0 0  $light-grey;
	border-bottom:1px solid $light-grey;
}

.full-height-container{
	
}

.col-left-fixed-one{
	width:490px;
	float: left;
	@include breakpoint(md) {
		width: 100%;
		height: auto;
	}
}

.col-right-fluid-one{
	overflow: hidden;
	@include breakpoint(md) {
		width: 100%;
		height: auto;
	}
}


