.col-full-6{
	width: 50%;
}

.col-full-5{
	width: 41.66%;
}

.col-full-4{
	width: 33.33%;
}

.col-full-7{
	width: 58.33%;
}

.col-full-8{
	width: 66.66%;
}

.full-height{
	background: white;
	height: 100vh;
	box-shadow: inset -1px 0 0  $light-grey;
}