a{
	text-decoration: none;
	color:$water-blue;
	&:active, &:focus{
		text-decoration: none;
	}
	&:hover{
		text-decoration: none;
	}
}

.btn{
	font-size: 12px;
	text-transform: uppercase;
	font-family: $montserrat-font-name;
	letter-spacing: .17px;
	border-radius: 3px;
	&.btn-select{
		text-transform: none;
		font-family:$default-font-name;
		font-weight: 400;
		&:focus{
			box-shadow:none;
		}
	}
	&.btn-lg{
		font-size: 12px;
	}
	&:focus{
		outline:none;
		box-shadow: none;
	}
	&:active{
		box-shadow: none;
		outline:none;
		border:none;
	}
	&.action-btn{
		color:$light-grey-five;
		&:hover{
			color: shade($light-grey-five, 20%);
			background: transparent;
		}
	}
	&.btn-primary{
		background-color: $lightblue;
		border:none;
		&:hover{
			background-color: shade($lightblue,20%);
		}
	}
	&.btn-info{
		color: $light-grey-five;
		background-color: transparent;
		border:none;
		&:hover{
			color: shade($light-grey-five, 20%);
		}
		&:active{
		box-shadow: none;
		outline:none;
		background: transparent!important;
		}
		i{
			line-height: 30px;
		}
	}
	&.btn-default{
		border-radius: 3px;
		border:1px solid $light-grey-three;
		&:hover{
			background-color: $light-grey-two;
		}
	}
	&.btn-secondary{
		border-radius: 3px;
		border:1px solid $light-grey-three;
		background-color: $light-grey-two;
		&:hover{
			background-color:shade($light-grey-two,3%);
		}
	}
}