.base-heroic-table{
	.panel-default{
		padding: 0;
		border-radius:0;
		border-color:$light-grey-three;
		.panel-heading{
			padding: 0;
			background: white;
			border-radius:0;
			border-color:$light-grey-three;
			border-bottom:none;
			.form-group{
				margin-bottom: 0;
				&.search-form{
					width:30%;
					position: relative;
					top:3px;
					.form-group{
						width: 100%;
						.form-inline{
							width: 100%;
						}
						.input-group{
							width: 100%;
							.form-control{
								width: 100%;
							}
						}
					}
					.input-group-addon{
						background: white;
						border:none;
						color: $steel-grey;
						padding-right: 0
					}
					input{
						border:none;
						overflow: hidden;
						box-shadow: none;
						font-weight: 550;
						font-size: 12px;
						&:focus{
							border:none;
						}
					}
				}
				.open{
					.btn-info{
						background-color: $light-grey-six;
						box-shadow:0 1px 0 $light-grey-six;
					}
				}
				.table-page-input{
					width:74px;
					display: inline-block;
					height: 20px;
					padding-top: 5px;

					.form-control{
						float: left;
						height: 25px;
						margin-right: 5px;
					}
					.count-text{
						float: left;
						line-height: 25px;
					}
				}
				.btn-info{
					border-radius: 0;
					background-color: white;
					&.bordered{
						border-left:1px solid $light-grey-three;
						border-right:1px solid $light-grey-three;
					}
					&.border-left{
						border-left:1px solid $light-grey-three;
					}
					&:last-of-type{
						border-right:none;
					}
					&:hover{
						background: $light-grey-six!important;
					}
					&.filter-tggle{
						background-color: $light-grey-six;
						box-shadow:0 1px 0 $light-grey-six;
						&.collapsed{
							background: white;
							box-shadow: none;
						}
					}
					&:focus{
						outline:none;
					}
				}
			}
		}
		.panel-body{
			border-color:$light-grey-three;
			background-color: $light-grey-six;
			border-top:1px solid $light-grey-three;
			&.filters{
				.btn-clear{
					position: relative;
					right: 60px;
					top: 16px;
				}
			}
		}
	}
	thead{
		th{
			text-transform: uppercase;
			color:$steel-grey;
			font-family:$montserrat-font-name;
			font-size: 12px;
			border-top:1px solid!important;
			border-color:$light-grey-three!important;
			border-bottom-width: 1px!important;
			font-weight: 400;
			background-color: $light-grey-seven;
			&.active{
				background: $light-grey-seven!important;
				font-weight: 700;
				color: $charcoal-grey;

			}
		}
		tr{
			th{
				padding-top:15px;
				padding-bottom: 15px;
			}
		}
	}
	th{
		&.actions-menu-column{
			width:168px;
			  @include breakpoint(md) {
			    
			  }
		}
	}
	tr{
		border-color:$light-grey-three;
		&:hover{
			.dropdown-hover-menu{
				visibility: visible!important;
				text-align: right;
			}
		}
	}
	td{
		border:none!important;
		font-size: 13px;
		.muted{
			color: $light-grey-three
		}
		.table-actions{
			.btn-link{
				color: $light-grey-five;
				padding: 0;
				&:hover{
					color: shade($light-grey-five, 20%);
				}
			}
			.dropdown-hover-menu{
				&.open{
					text-align: left;
				}
				text-align: right;
			  @include breakpoint(md) {
			    visibility: visible;
			    text-align: left;
			  }
				visibility: hidden;
				ul.dropdown-menu{
					background: $light-grey-seven;
					border:none;
					top: -10px;
    			left: 25px;
					min-width: 135px;
					border-radius: 0;
					list-style: none;
					text-align: center;
					li{
						display: inline-block;
						a{
							padding: 3px 0px 2px 0px;
							color:$light-grey-five;
							&:hover{
								color: shade($light-grey-five, 20%);
								background-color: transparent;
							}
							i{
								font-size: 22px;
							}
						}
					}
				}
			}
		}
	}
	tr{
		&:nth-of-type(odd){
			background-color: $duck-egg-blue!important;
		}
	}
}

// fix actions

// @include breakpoint(md) {

// .table>thead:last-child>tr:last-child>th:last-child
// {
//     position: absolute;
//     display: inline-block;
//     height:100%;
// }
// .table> tbody > tr > td:last-child
// {
//     position: absolute;
//     display: inline-block;
//     height:100%;

// }
// .table>thead:last-child>tr:last-child>th:nth-child(2)
// {
//     padding-left:40px;
// }
// .table> tbody > tr > td:nth-child(2)
// {
//     padding-left:50px !important;

// }


// }




