// typography baselines and @font face setups
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,400italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);




.text-uppercase{
  text-transform:uppercase;
}

.text-lowercase{
  text-transform:none;
}

.text-left{
  text-align:left;
}

//font base

//open sans

.font-normal-default{
	font-family:$default-font-name;
	font-weight: 400;
}

.font-semibold-default{
	font-family:$default-font-name;
	font-weight: 600;
}

.font-bold-default{
	font-family:$default-font-name;
	font-weight: 700;
}


//montserrat

.font-normal-montserrat{
	font-family:$montserrat-font-name;
	font-weight: 400;
}

.font-bold-montserrat{
	font-family:$montserrat-font-name;
	font-weight: 700;
}

h1,h2,h3,h4,h5,h6,p{
	&.muted{
		color:$steel-grey;
	}
}


h1{
	font-size: 38px;
	font-family:$montserrat-font-name;
	font-weight: 400;
}


h2{
	font-size: 21px;
	font-family:$montserrat-font-name;
	font-weight: 400;
}

h3{
	font-size: 15px;
	font-family:$default-font-name;
	font-weight: 600;
}

h4{
	font-size: 12px;
	font-family:$montserrat-font-name;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .5px;
}

h5{
	font-size: 11px;
	font-family:$montserrat-font-name;
	font-weight: 700;
}

//colors

.pinkesh-grey-color{
	color: $pinkish-grey;
}

.light-text-color{
	color: #9AA1A5;
}
