// base colors

$bluish: #249ac5;
$light-grey: #ded7cf;
$light-grey-two: #e7e4db;
$pinkish-grey: #d6cec4;
$charcoal-grey: #374952;
$water-blue: #0c8fd3;
$lightblue: #56bcf4;
$salmon: #ff8563;
$pale-salmon: #ffac97;
$duck-egg-blue: #f2fafd;
$steel-grey: #757f85;
$light-grey-three: #dad7ce;






$text-color: #3D464D;
$light-text-color: #bbbbbb;



$background-color: #FCFCFC;

// units

$baseline: 28px;
$base-border-radius:0px;


// font vars

$default-font-name: 'Open Sans', sans-serif;
$montserrat-font-name: 'Montserrat', sans-serif;


//transitions

$base-transition-duration:.2s;
