// base colors

$background-color: #F9F8F7; 
$extra-light-blue:#F5F6F7;
$bluish: #249ac5;
$light-grey: #ded7cf;
$light-grey-two: #e7e4db;
$light-grey-three: #dad7ce;
$light-grey-four: #f4efe9;
$light-grey-five: #c6c3ba;
$light-grey-six:#F9F8F5;
$light-grey-seven:#f8f6f1;
$light-grey-eight:#A3A3A3;
$light-grey-nine:#7F7F7F;
$light-grey-ten:#99958a;
$pinkish-grey: #d6cec4;
$charcoal-grey: #374952;
$water-blue: #0c8fd3;
$lightblue: #56bcf4;
$salmon: #ff8563;
$pale-salmon: #ffac97;
$duck-egg-blue: #f2fafd;
$steel-grey: #757f85;
$black-20: rgba(0, 0, 0, 0.2);
$green-color:#66BE61;






$text-color: #3D464D;
$light-text-color: #bbbbbb;





// units

$baseline: 28px;
$base-border-radius:0px;


// font vars

$default-font-name: 'Open Sans', sans-serif;
$montserrat-font-name: 'Montserrat', sans-serif;


//transitions

$base-transition-duration:.2s;
