;;;
"layout": "admin",
"page_title": "My Account"
;;;


%section
	.col-full-4.pull-left.full-height
		.padded.no-padding-top
			.page-header
				%h4
					PLAYER DIRECTORY

	.col-full-8.pull-left
		.padded.no-padding-top
			.page-header
				%h4
					Transaction History
