%aside.sidebar-menu.light
	.viewport
		%section.admin-menu
			%ul.menu-section
				%li
					%ul
						%li
							%a{:href=>"#"}
								%i.material-icons.md-24.menu-icon
									person
								%span.menu-text
									User Profile
						%li
							%a{:href=>"#"}
								%i.material-icons.md-24.menu-icon
									assistant_photo
								%span.menu-text
									lock
						%li.active
							%a{:href=>"#"}
								%i.material-icons.md-24.menu-icon
									credit_card
								%span.menu-text
									Billing Details
						%li
							%a{:href=>"#"}
								%i.material-icons.md-24.menu-icon
									notifications
								%span.menu-text
									Notifications
				

