%header#primary-header
	.container-fluid
		.navbar-header
			.navbar-brand.hidden-sm.hidden-xs
				.logo
					%p
						Heroic
			.toggle-container
				%ul.nav.navbar-nav.toggle
					%li
						%a{:href=>"#"}
							%i.material-icons.md-18
								menu
		.navbar-toolbar
			.nav.navbar-nav
