%header#primary-header
	.container-fluid
		.navbar-header
			.navbar-brand
				%a.logo{:href=>"player-management/index.html"}
			.toggle-container
				%ul.nav.navbar-nav
					%li
						%a.toggle-nav{:href=>"#"}
							%i.material-icons.md-24
								menu
		.navbar-toolbar
			%ul.nav.navbar-nav.navbar-left
				%li
					%ol.breadcrumb
						%li
							%a{:href=>"player-management/index.html"}
								%i.material-icons.md-18
									home
						%li.current
							%a{:href=>"#"}
								=data.page.page_title
			%ul.nav.navbar-nav.navbar-right.global-actions
				%li.border-left
					%a{:href=>"#"}
						%i.material-icons.md-24
							flash_on
				%li.border-left
					%a{:href=>"#"}
						%i.material-icons.md-24
							notifications
						%ul.count
							%li
								4
				%li.border-left.admin-dropdown
					%a{:href=>"#", "data-toggle"=>"dropdown", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
						%img.img-circle.admin-avatar{:width=>"34px", :height=>"34px", :src=>"images/pons_avatar.png"}
						PonsGroup
						%i.material-icons.md-18
							expand_more
					%ul.dropdown-menu
						%li
							%a{:href=>"#"}
								%i.material-icons.md-18
									videogame_asset
								My Games
						%li
							%a{:href=>"accounts/index.html"}
								%i.material-icons.md-18
									account_circle
								My Account
						%li
							%a{:href=>"accounts/index.html"}
								%i.material-icons.md-18
									payment
								Billing Info
						%li
							%a{:href=>"#"}
								%i.material-icons.md-18
									exit_to_app
								Logout

