%header#primary-header
	.container-fluid
		.navbar-header
			.navbar-brand
				%a.logo{:href=>"#"}
			.toggle-container
				%ul.nav.navbar-nav
					%li
						%a.toggle-nav{:href=>"#"}
							%i.material-icons.md-18
								menu
		.navbar-toolbar
			.nav.navbar-nav
