%aside.sidebar-menu
	.viewport
		%section.primary-menu-content-lg.primary-menu
			%ul.menu-section.border-bottom.player-container
				%li
					.player-select
						%h3.pull-left
							%a.menu-avatar-container{:href=>"#"}
								.menu-avatar
								Clash of Clans
					.player-settings
						%a.pull-right{:href=>"#"}
							%i.material-icons.md-22
								settings
					.clearfix
			%ul.menu-section.border-bottom
				%li
					%p{"aria-controls" => "control-panel", "aria-expanded" => "true", "data-target" => "#control-panel", "data-toggle" => "collapse"}
						%span.caret
						CONTROL PANEL
					%ul#control-panel.collapse.in
						%li.active
							%a{:href=>"#"}
								%i.material-icons.md-18.menu-icon
									people
								%span.menu-text
									Manage Players
						%li
							%a{:href=>"#"}
								%i.material-icons.md-18.menu-icon
									assistant_photo
								%span.menu-text
									Leaderboards
						%li
							%a{:href=>"#"}
								%i.material-icons.md-18.menu-icon
									dns
								%span.menu-text
									Data Storage
						%li
							%a{:href=>"#"}
								%i.material-icons.md-18.menu-icon
									insert_chart
								%span.menu-text
									Telemetry
						%li
							%a{:href=>"#"}
								%i.material-icons.md-18.menu-icon
									insert_drive_file
								%span.menu-text
									Asset Library
						%li
							%a{:href=>"#"}
								%i.material-icons.md-18.menu-icon
									cloud_done
								%span.menu-text
									Cloud Code
						%li
							%a{:href=>"#"}
								%i.material-icons.md-18.menu-icon
									bug_report
								%span.menu-text
									API Debugger
			%ul.menu-section
				%li
					.team-actions.clearfix
						%span.pull-right
							%a{:href=>"#"}
								%i.material-icons.md-16
									more_horiz
						%span.pull-right.quarter-margin-right
							%a{:href=>"#"}
								%i.material-icons.md-16
									add_circle_outline
					%p{"aria-controls" => "team", "aria-expanded" => "true", "data-target" => "#team", "data-toggle" => "collapse"}
						%span.caret
						TEAM
					%ul#team.team-list.collapse.in
						%li.online
							%img.img-circle.menu-avatar{:src=>"/images/user_avatar_1.png"}
						%li.online
							%img.img-circle.menu-avatar{:src=>"/images/user_avatar_2.png"}
						%li.online
							%img.img-circle.menu-avatar{:src=>"/images/user_avatar_3.png"}
						%li
							%img.img-circle.menu-avatar{:src=>"/images/user_avatar_4.png"}
						%li
							%img.img-circle.menu-avatar{:src=>"/images/user_avatar_5.png"}
						%li
							%img.img-circle.menu-avatar{:src=>"/images/user_avatar_6.png"}
						%li
							%img.img-circle.menu-avatar{:src=>"/images/user_avatar_7.png"}
						%li
							%img.img-circle.menu-avatar{:src=>"/images/user_avatar_8.png"}
						%li
							%img.img-circle.menu-avatar{:src=>"/images/user_avatar_9.png"}
						.clearfix
		%section.primary-menu-content-md.primary-menu
			%ul.menu-section.text-center
				%li
					%ul
						%li
							.player-select
								%a{:href=>"#"}
									%img.img-circle.menu-avatar{:src=>"/images/avatar_game.png"}
							.clearfix					
			%ul.menu-section.border-bottom
				%li
					%ul
						%li.text-center.active
							%a{:href=>"#"}
								%i.material-icons.md-24.menu-icon
									people
						%li.text-center
							%a{:href=>"#"}
								%i.material-icons.md-24.menu-icon
									assistant_photo
						%li.text-center
							%a{:href=>"#"}
								%i.material-icons.md-24.menu-icon
									dns
						%li.text-center
							%a{:href=>"#"}
								%i.material-icons.md-24.menu-icon
									insert_chart
						%li.text-center
							%a{:href=>"#"}
								%i.material-icons.md-24.menu-icon
									insert_drive_file
						%li.text-center
							%a{:href=>"#"}
								%i.material-icons.md-24.menu-icon
									cloud_done
						%li.text-center
							%a{:href=>"#"}
								%i.material-icons.md-24.menu-icon
									bug_report
			%ul.menu-section
				%ul.text-center.team-list
					%li
						%a{:href=>"#"}
							%img.img-circle.menu-avatar{:src=>"/images/user_avatar_1.png"}
					%li
						%a{:href=>"#"}
							%img.img-circle.menu-avatar{:src=>"/images/user_avatar_2.png"}
					%li
						%a{:href=>"#"}
							%img.img-circle.menu-avatar{:src=>"/images/user_avatar_3.png"}
					%li
						%a{:href=>"#"}
							%img.img-circle.menu-avatar{:src=>"/images/user_avatar_4.png"}
					%li.count
						%a{:href=>"#"}
							+4
