
.base-heroic-table
  .panel.panel-default
    .panel-heading 
      .form-group.pull-left.table-actions.search-form
        .form-inline
          .form-group
            %div{:style=>"float:left; z-index:9999; position:relative; top:8px; left:30px; margin-bottom:-24px;"}
              username
              %span.modifier.modifier-one.quarter-margin-right
                phil
              %span.modifier.modifier-two.quarter-margin-right
                >
              %span.modifier.modifier-one.quarter-margin-right
                100
            .input-group
              %input.search.form-control.search-icon{:placeholder => "", :type => "text"}

      .form-group.pull-right
        .btn-group{:role=>"group"}
          .dropdown.pull-left
            %button.btn.btn-sm.btn-info.bordered{:type=>"button", "data-toggle"=>"dropdown", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
              %i.material-icons.md-18
                star_border
            %ul.dropdown-menu.items-search.dropdown-list-default
              %li.dropdown-header
                .form-group.pull-left
                  %a.btn.btn-link.quarter-margin-right.action-btn
                    %i.material-icons.md-24
                      add_circle_outline
                .form-group.pull-left
                  .input-group{:style=>"width:232px;"}
                    %input.search.form-control.search-icon{:placeholder => "Saved Searches", :type => "text"}
                .clearfix
              -10.times do
                %li
                  %a{:href=>"#"}
                    %span.item
                      .pull-left
                        Recently Active
                      .pull-right
                        %span.info-right
                          12/11
                      .clearfix
          %button.btn.btn-sm.btn-info.filter-tggle.bordered.collapsed{"aria-controls" => "search-filters", "aria-expanded" => "false", "data-target" => "#search-filters", "data-toggle" => "collapse",:type=>"button"}
            %i.material-icons.md-18
              filter_list
      .clearfix
    #search-filters.collapse
      .panel-body.filters
        %form
          .full-width-md
            .form-group.pull-left.half-margin-right
              %label.label-sm
                Where
              .input-group
                .btn-group{:style=>"width:150px;"}
                  %button.btn.btn-default.dropdown-toggle.btn-select.full-width.text-left{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                    User
                    %span.pull-right
                      .caret
                  %ul.dropdown-menu
                    -3.times do
                      %li
                        %a{:href => "#"} 
                          Select
            .form-group.pull-left.half-margin-right
              %label.label-sm
                Where
              .input-group.filter-search-for
                %input.input-sm.form-control.search-icon.full-width
            .form-group.pull-left.half-margin-right
              %h4.margin-top
                AND
        .full-width-md
          .form-group.pull-left.half-margin-right
            %label.label-sm
              Where
            .input-group
              .btn-group{:style=>"width:150px;"}
                %button.btn.btn-default.dropdown-toggle.btn-select.full-width.text-left{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                  Deposits
                  %span.pull-right
                    .caret
                %ul.dropdown-menu
                  -3.times do
                    %li
                      %a{:href => "#"} 
                        Select

          .form-group.pull-left.half-margin-right{:style=>"width:120px;"}
            %label.label-sm
              Min
            %input.input-sm.form-control
          .form-group.pull-left{:style=>"position:relative; right:20px; width:120px;"}
            %label.label-sm
              Max
            %input.input-sm.form-control
          .form-group.pull-left
            .input-group
              %button.btn.btn-info.btn-clear{:type=>"button"}
                %i.material-icons.md-18
                  cancel

    .table-responsive
      %table.table.table-striped{:style=>"min-width:767px;"}
        %thead
          %tr
            %th
              %input.checkbox-custom{:type=>"checkbox"}
              %label.checkbox-custom-label

            %th.active.asc
              Username
              .caret
            %th 
              Name
            %th 
              Player ID
            %th 
              Active Since
            %th 
              Achievements
            %th 
              Deposits
            %th.actions-menu-column
              
        %tbody
          -19.times do
            %tr
              %td 
                %input.visible-sm.visible-xs{:type=>"checkbox"}
              %td 
                jdoe
              %td 
                John Doe
              %td 
                4445555555
              %td 
                March 31, 2010
              %td 
                122
              %td 
                %span.muted
                  $
                44
              %td.table-actions-row
                .table-actions
                  .dropdown.dropdown-hover-menu
                    %a.btn.btn-link{:href=>"#", "data-toggle"=>"dropdown", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
                      %i.material-icons.md-18
                        more_vert
                    %ul.dropdown-menu.list-inline
                      %li
                        %a{:href=>"#"}
                          %i.material-icons.md-18
                            mode_edit
                      %li
                        %a{:href=>"#"}
                          %i.material-icons.md-18
                            star
                      %li
                        %a{:href=>"#"}
                          %i.material-icons.md-18
                            delete

