
.base-heroic-table
  .panel.panel-default
    .panel-heading 
      .form-group.pull-left.table-actions.search-form
        .form-inline
          .form-group
            .input-group
              .input-group-addon
                %i.material-icons.md-18
                  search
              %input.search.form-control{:placeholder => "What you looking for?", :type => "text"}
      .form-group.pull-right
        .btn-group{:role=>"group"}
          .dropdown.pull-left
            %button.btn.btn-sm.btn-info.bordered{:type=>"button", "data-toggle"=>"dropdown", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
              %i.material-icons.md-18
                star_border
            %ul.dropdown-menu.items-search.dropdown-list-default
              %li.dropdown-header
                .form-group.pull-left
                  %a.btn.btn-link.quarter-margin-right.action-btn
                    %i.material-icons.md-24
                      add_circle_outline
                .form-group.pull-left
                  .input-group{:style=>"width:232px;"}
                    %input.search.form-control{:placeholder => "Saved Searches", :type => "text"}
                .clearfix
              -10.times do
                %li
                  %a{:href=>"#"}
                    %span.item
                      .pull-left
                        Recently Active
                      .pull-right
                        %span.info-right
                          12/11
                      .clearfix
          %button.btn.btn-sm.btn-info.filter-tggle.bordered.collapsed{"aria-controls" => "search-filters", "aria-expanded" => "false", "data-target" => "#search-filters", "data-toggle" => "collapse",:type=>"button"}
            %i.material-icons.md-18
              filter_list
      .clearfix
    #search-filters.collapse
      .panel-body.filters
        %form
          .row
            .col-md-2.col-xs-4
              .form-group
                %label.label-sm
                  Where
                %select.input-sm.form-control
                  %option
                    User
            .col-md-3.col-xs-7
              .form-group
                %label.label-sm
                  Where
                .input-group.search
                  .input-group-addon
                    %i.material-icons.md-18
                      search
                  %input.input-sm.form-control
            .col-md-1.col-xs-1
              %h4.margin-top.text-center
                AND
            .col-md-3.col-xs-4
              .form-group
                %label.label-sm
                  Where
                %select.input-sm.form-control
                  %option
                    Deposits
            .col-md-3.col-xs-8
              .row
                .col-xs-5
                  %label.label-sm
                    Min
                  %input.input-sm.form-control
                .col-xs-5{:style=>"position:relative; left:-31px;"}
                  %label.label-sm
                    Min
                  %input.input-sm.form-control
                .col-xs-2
                  %button.btn.btn-info.btn-clear{:type=>"button"}
                    %i.material-icons.md-18
                      cancel

    .table-responsive
      %table.table.table-striped{:style=>"min-width:767px;"}
        %thead
          %tr
            %th
              %input{:type=>"checkbox"}
            %th.active.asc
              Username
              .caret
            %th 
              Name
            %th 
              Player ID
            %th 
              Active Since
            %th 
              Achievements
            %th 
              Deposits
            %th.actions-column
              
        %tbody
          -30.times do
            %tr
              %td 
                %input.visible-sm.visible-xs{:type=>"checkbox"}
              %td 
                jdoe
              %td 
                John Doe
              %td 
                4445555555
              %td 
                March 31, 2010
              %td 
                122
              %td 
                %span.muted
                  $
                44
              %td.table-actions-row
                .table-actions
                  .dropdown
                    %a.btn.btn-link{:href=>"#", "data-toggle"=>"dropdown", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
                      %i.material-icons.md-18
                        more_vert
                    %ul.dropdown-menu.list-inline
                      %li
                        %a{:href=>"#"}
                          %i.material-icons.md-18
                            mode_edit
                      %li
                        %a{:href=>"#"}
                          %i.material-icons.md-18
                            star
                      %li
                        %a{:href=>"#"}
                          %i.material-icons.md-18
                            delete

