;;;
"page_title": "Player Management"
;;;

%section.border-bottom.player-charts-container-outter
	.container-fluid.player-charts-container.no-padding
		.col-full-4.border-right
			.col-full-padding
				.row.half-margin-bottom
					.col-xs-5
						%h4.half-padding-left
							Monthly Usage
					.col-xs-7
						.pull-right
							.btn-group{ :role => "group"}
								.btn-group{:role => "group"}
									%button.btn.btn-secondary.dropdown-toggle.btn-select{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
										by Region
										.caret
									%ul.dropdown-menu.btn-select-dropdown
										-3.times do
											%li
												%a{:href => "#"} 
													Select
								.btn-group{:role => "group"}
									%button.btn.btn-default.dropdown-toggle.btn-select{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
										Most Active
										.caret
									%ul.dropdown-menu.btn-select-dropdown{:style=>"left:-53px;"}
										-3.times do
											%li
												%a{:href => "#"} 
													Select


				.row
					.col-xs-12
						.half-margin-bottom
							.row
								.col-xs-12
									.circles-container.full-width.text-center.half-padding-top
										.inline-block
											=partial"charts/monthly-usage-one"
										.inline-block
											=partial"charts/monthly-usage-two"
										.inline-block
											=partial"charts/monthly-usage-three"
		.col-full-4.border-right
			.border-bottom
				.col-full-padding{:style=>"padding-bottom:4px;"}
					.row
						.col-xs-9
							%h4.pull-left.half-padding-left
								ACTIVE USERS
							%p.pull-left.light-text-color{:style=>"line-height:33px; margin-left:5px;"}
								Oct 29, 2015  2:59pm

						.col-xs-3
							.pull-right
								%button.btn.btn-default.dropdown-toggle.btn-select{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
									This Week
									.caret
								%ul.dropdown-menu.btn-select-dropdown{:style=>"left:20px;"}
									-3.times do
										%li
											%a{:href => "#"} 
												Select
								.clearfix
			.col-full-padding.no-padding-bottom.no-padding-top
				.row
					.col-xs-6.text-center.border-right
						.half-padding-bottom
							%h5.text-uppercase.light-text-color.no-margin-bottom
								Monthly
							%h1.no-margin-top
								879
								%span{:style=>"font-size:50%;"}
									k
						=partial"charts/monthly-chart-one"
					.col-xs-6.text-center
						.half-padding-bottom
							%h5.text-uppercase.light-text-color.no-margin-bottom
								Daily
							%h1.no-margin-top
								29.3
								%span{:style=>"font-size:50%;"}
									k
						=partial"charts/monthly-chart-two"

					.col-xs-6
						
		.col-full-4
			.col-full-padding
				.row
					.col-xs-12
						%h4.pull-left.half-padding-left
							ACTIVE USERS
				.row
					.col-xs-12
						=partial"charts/spectrum"


%section
	.container-fluid
		.row
			.col-lg-12
				.pull-left
					%ul.list-inline.no-margin-bottom
						%li
							%h4
								PLAYER DIRECTORY
						%li
							%h3
								45 results
						%li
							%p.font-semibold-default
								• Your query is:
						%li
							%p.muted.font-semibold-default
								where(user), where(deposits) greater than(1000) 
				.pull-right
					%ul.list-inline.overflow.no-margin-bottom
						%li
							%a.btn.btn-info.btn-sm{:href=>"#"}
								%i.material-icons.md-18
									more_horiz
		.row
			.col-lg-12
				=partial"player-table"